DATA/PAK/axel_12.pak.xen
DATA/SONGS/test_song.pak.xen
PLUGINS/CODE/core/Debug/core.tlog/*
PLUGINS/CODE/noteLimit/Debug/noteLimitfix.tlog/*
*.lastbuildstate
*.bak
* - Copy-
log
DATA/PAK/qb.pak1.xen
DATA/PAK/qb.pab1.xen
DATA/PAK/qb.pab2.xen
DATA/ZONES/global.pab1.xen
DATA/ZONES/global.pak1.xen