<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="ConfigVersion" value="3" />
        <add key="InputFormat" value="PC (xen)" />
        <add key="PakFilename" value="C:\Windows\fastgh3\DATA\PAK\qb.pak.xen" />
        <add key="PabFilename" value="C:\Windows\fastgh3\DATA\PAK\qb.pab.xen" />
        <add key="DebugFilename" value="C:\Windows\fastgh3\DATA\PAK\dbg.pak.xen" />
        <add key="Backup" value="False" />
        <add key="LastQbReplacePath" value="E:\" />
        <add key="LastQbExtractPath" value="E:\" />
        <add key="LastScriptPath" value="E:\" />
        <add key="LastArrayPath" value="E:\" />
        <add key="ScriptActiveTab" value="2" />
        <add key="PakListColPositions" value="0,1,2,3,4" />
        <add key="PakListColWidths" value="157,291,113,70,60" />
        <add key="PakListSort" value="3,1" />
        <add key="SearchListColPositions" value="0,1,2,3" />
        <add key="SearchListColWidths" value="184,344,103,112" />
        <add key="SearchListSort" value="0,1" />
        <add key="QbListColPositions" value="0,1,2,3,4,5" />
        <add key="QbListColWidths" value="220,121,112,113,49,94" />
        <add key="WindowInfo" value="784,290,969,681,0" />
        <add key="PakSplitterPosition" value="49.52781" />
        <add key="SearchSplitterPosition" value="25.3935" />
        <add key="QbSplitterPosition" value="68.62539" />
        <add key="AllowedScriptStringChars" value="abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ01234567890\/?!&quot;£$%^&amp;*()-+{}[]'#@~?&gt;&lt;,. =®©_:" />
    </appSettings>
</configuration>