<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="ConfigVersion" value="3" />
        <add key="InputFormat" value="PC (xen)" />
        <add key="PakFilename" value="C:\Windows\fastgh3\DATA\SONGS\test_song.pak.xen" />
        <add key="PabFilename" value="" />
        <add key="DebugFilename" value="" />
        <add key="Backup" value="True" />
        <add key="LastQbReplacePath" value="" />
        <add key="LastQbExtractPath" value="" />
        <add key="LastScriptPath" value="s" />
        <add key="LastArrayPath" value="E:\" />
        <add key="ScriptActiveTab" value="1" />
        <add key="PakListColPositions" value="0,1,2,3,4" />
        <add key="PakListColWidths" value="212,295,131,48,40" />
        <add key="PakListSort" value="1,1" />
        <add key="SearchListColPositions" value="0,1,2,3" />
        <add key="SearchListColWidths" value="273,344,103,112" />
        <add key="SearchListSort" value="0,2" />
        <add key="QbListColPositions" value="0,1,2,3,4,5" />
        <add key="QbListColWidths" value="295,178,147,113,49,94" />
        <add key="WindowInfo" value="369,165,1400,750,0" />
        <add key="PakSplitterPosition" value="66.69075" />
        <add key="SearchSplitterPosition" value="17.61518" />
        <add key="QbSplitterPosition" value="56.86416" />
        <add key="AllowedScriptStringChars" value="abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ01234567890\/?!&quot;£$%^&amp;*()-+{}[]'#@~?&gt;&lt;,. =®©_" />
    </appSettings>
</configuration>